domain_name  = os.environ.get("DOMAIN_NAME", '{{domain_name}}')
admin_name  = os.environ.get("ADMIN_NAME", "AdminServer")
admin_listen_port   = int(os.environ.get("ADMIN_LISTEN_PORT", "{{admin_ListenPort}}"))
domain_path  = '{{domainroot}}/{{domain_name}}'
production_mode = os.environ.get("PRODUCTION_MODE", "prod")
administration_port_enabled = os.environ.get("ADMINISTRATION_PORT_ENABLED", "false")



print('domain_name                 : [%s]' % domain_name);
print('admin_listen_port           : [%s]' % admin_listen_port);
print('domain_path                 : [%s]' % domain_path);
print('production_mode             : [%s]' % production_mode);
print('admin name                  : [%s]' % admin_name);
print('administration_port_enabled : [%s]' % administration_port_enabled);

# Open default domain template
# ============================
readTemplate("{{wlshome}}/common/templates/wls/wls.jar")

set('Name', domain_name)
setOption('DomainName', domain_name)

# Set Administration Port - Requires SSL
# =======================================
if administration_port_enabled != "false":
   set('AdministrationPort', administration_port)
   set('AdministrationPortEnabled', 'true')


# Configure the Administration Server and SSL port.
# =================================================
cd('/Servers/AdminServer')
set('Name', admin_name)
set('ListenAddress', '{{ hostvars[groups['app'][0]]['ansible_env'].SSH_CONNECTION.split(' ')[2] }}')
set('ListenPort', admin_listen_port)
if administration_port_enabled != "false":
   create('AdminServer','SSL')
   cd('SSL/AdminServer')
   set('Enabled', 'True')

# Define the user password for weblogic
# =====================================
cd(('/Security/%s/User/weblogic') % domain_name)
cmo.setName("{{domain_username}}")
cmo.setPassword("{{domain_password}}")

# Create Machine
# ================
cd('/')
mn = create('{{ groups['app'][0] }}','Machine')
machine_name = '{{ groups['app'][0] }}'
if (machine_name != ""):
	print "\tSetting Machine Name",machine_name
	mn.setName(machine_name)

cd('/')
mn = create('{{ groups['app'][1] }}','Machine')
machine_name = '{{ groups['app'][1] }}'
if (machine_name != ""):
	print "\tSetting Machine Name",machine_name
	mn.setName(machine_name)


# Create Managed Servers
# =======================
cd ('/')
sobj = create('{{ManagedServer1_Name}}','Server')
sobj.setName('{{ManagedServer1_Name}}')
sobj.setListenPort(int('{{ManagedServer1_Port}}'))
# Listen on all available IPs and channels
sobj.setListenAddress('')
cd ('/')
sobj = create('{{ManagedServer2_Name}}','Server')
sobj.setName('{{ManagedServer2_Name}}')
sobj.setListenPort(int('{{ManagedServer2_Port}}'))
# Listen on all available IPs and channels
sobj.setListenAddress('')

# Create Cluster
# ==================
cd ('/')
cobj = create('{{ClusterName}}','Cluster')


# Write the domain and close the domain template
# ==============================================
setOption('OverwriteDomain', 'true')
setOption('ServerStartMode',production_mode)


# Write Domain
# ============
writeDomain(domain_path)
closeTemplate()

# Exit WLST
# =========
exit()
